.food {
  position: absolute;
  width: 50px;
  height: 50px;
}

.hidden {
  display: none;
}

.food-dot {
  width: 10px;
  height: 10px;
  background-color: yellow;
  margin:20px;
  border-radius: 40px;
}